header {
    padding: 30px;
}

main {
    padding: 20px;
}
.menu-wrapper {
    display: flex; 
    justify-content: space-between;
}

.menu-wrapper li button {
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(143deg, #F56A79 0%, #FF414D 100%);
    border-radius: 15px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 35px;
    text-transform: uppercase;
    border: none;
    transition: all .2s ease;
}

.menu-wrapper .close-detail a {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
	background-position: center center;
    background-size: 50%;
    transition: all .2s ease;
    background-color: #D9ECF3;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 492 492' height='512' viewBox='0 0 492 492' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m300.188 246 183.952-183.96c5.06-5.064 7.852-11.82 7.86-19.024 0-7.208-2.792-13.972-7.86-19.028l-16.12-16.116c-5.068-5.076-11.824-7.856-19.036-7.856-7.2 0-13.956 2.78-19.024 7.856l-183.952 183.948-183.96-183.948c-5.06-5.076-11.82-7.856-19.028-7.856-7.2 0-13.96 2.78-19.02 7.856l-16.128 16.116c-10.496 10.496-10.496 27.568 0 38.052l183.956 183.96-183.956 183.952c-5.064 5.072-7.852 11.828-7.852 19.032s2.788 13.96 7.852 19.028l16.124 16.116c5.06 5.072 11.824 7.856 19.02 7.856 7.208 0 13.968-2.784 19.028-7.856l183.96-183.952 183.952 183.952c5.068 5.072 11.824 7.856 19.024 7.856h.008c7.204 0 13.96-2.784 19.028-7.856l16.12-16.116c5.06-5.064 7.852-11.824 7.852-19.028s-2.792-13.96-7.852-19.028z' fill='%23fff'/%3E%3C/svg%3E");
}


.menu-wrapper li:first-child a,
.menu-wrapper li:last-child a {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
	background-position: center center;
    background-size: contain;
    transition: all .2s ease;
}

.menu-wrapper li:first-child a {
    background-image: url("data:image/svg+xml,%3Csvg height='43' viewBox='0 0 50 43' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d9ecf2'%3E%3Cpath d='m37.0513973 24.6525103c-3.3859799-4.0433562-7.6658318-6.2701574-12.0514464-6.2701574-4.3856147 0-8.6655649 2.2268012-12.0513482 6.2701574-3.0434306 3.6343736-4.86036741 8.2147441-4.86036741 12.2524617 0 1.9614049.60626813 3.4554013 1.80189806 4.4406729 1.18009975.9725364 2.73813405 1.3014139 4.47633865 1.3014139 1.8495699 0 3.9032933-.3725269 5.92114-.7386377 1.7632691-.3199338 3.4287371-.6220772 4.7124371-.6220772 1.1079531 0 2.6701157.2867835 4.3236904.5903852 3.8645661.7096677 8.2448729 1.5138282 10.7752167-.5669565 1.2029036-.9891601 1.8128085-2.4711991 1.8128085-4.4048006 0-4.0377176-1.8168385-8.6180881-4.8603674-12.2524617z'/%3E%3Cpath d='m37.2095636 2.79326585c-1.236199-1.77521407-3.0063451-2.79326585-4.8566224-2.79326585-1.8503754 0-3.6204234 1.01814731-4.8566225 2.79326585-1.1355691 1.63077432-1.7610246 3.77234183-1.7610246 6.03026356 0 2.25792169.6253575 4.39948929 1.7610246 6.03026359 1.2361991 1.7751185 3.0063452 2.7932658 4.8566225 2.7932658 1.8503754 0 3.6204234-1.0181473 4.8566224-2.7932658 1.1355691-1.6307743 1.7610246-3.7723419 1.7610246-6.03026359 0-2.25792173-.6253574-4.39958477-1.7610246-6.03026356z'/%3E%3Cpath d='m22.5036813 2.79325073c-1.2361991-1.77520446-3.0062471-2.79325073-4.8566225-2.79325073s-3.6205214 1.0181418-4.8566224 2.79325073c-1.1355691 1.63076549-1.7610246 3.7723214-1.7610246 6.03023092 0 2.25790955.6253574 4.39946545 1.7610246 6.03023095 1.236199 1.7752044 3.006247 2.7933462 4.8566224 2.7933462s3.6204234-1.0181418 4.8566225-2.7933462c1.1355691-1.6307655 1.7610246-3.7722259 1.7610246-6.03023095 0-2.25790952-.6254555-4.39956095-1.7610246-6.03023092z'/%3E%3Cpath d='m49.7132117 16.8702086c-.4887941-1.6437632-1.5365123-2.8381639-2.9499843-3.3630383-1.1374731-.4223532-2.4214594-.3507405-3.6154983.2017138-1.6455073.7612058-2.9904846 2.333071-3.6898613 4.3124533-.5715263 1.6175147-.6428108 3.3271843-.2005777 4.8143126.488794 1.6437632 1.5365122 2.8381639 2.9500804 3.3630383.4891789.181647 1.0052938.2718999 1.5297782.2718999.6952401 0 1.4051988-.1587272 2.0858164-.4736137 1.6455072-.7612058 2.9904845-2.333071 3.6898612-4.3123582v-.0000951c.5714302-1.6174196.6427147-3.3271843.2003854-4.8143126z'/%3E%3Cpath d='m10.5421878 18.0212168c-.69946953-1.9793882-2.04444044-3.551163-3.68984365-4.3123711-1.19412945-.552456-2.47820581-.6239738-3.61557731-.2017144-1.41356144.5249711-2.46127463 1.7193754-2.95006636 3.3630484-.44223097 1.4871327-.37094684 3.1969026.20057681 4.8143271v.0000951c.69956572 1.9793883 2.04444043 3.5511631 3.68984364 4.3123711.68071054.3148876 1.39056966.4736152 2.08580639.4736152.52448189 0 1.0406906-.0903482 1.52977092-.2719007 1.41375384-.5249711 2.46137086-1.7193754 2.95016256-3.3630484.4420386-1.4870377.3707544-3.1968076-.200673-4.8144223z'/%3E%3C/g%3E%3C/svg%3E");
}

.menu-wrapper li:last-child a {
    background-image: url("data:image/svg+xml,%3Csvg height='51' viewBox='0 0 50 51' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m47.2728729 12.1024903c-1.6571044-1.6571172-3.8284301-2.61270609-6.155014-2.7168482-.0980377-2.30600206-1.0467529-4.48535521-2.7202607-6.15887569-1.7585753-1.75858891-4.0962218-2.72676641-6.583023-2.72676641s-4.8248291.9681775-6.5830231 2.72676641c-3.2775878 3.27761289-3.5961151 8.41109019-.9548187 12.04881319l-9.5001221 9.5005761c-1.5792846-1.150903-3.4751892-1.7719405-5.4664611-1.7719405-.00038155 0 0 0 0 0-2.48680118 0-4.82482911.9689405-6.58302315 2.727148-1.75857539 1.7585888-2.72712705 4.0962531-2.72712705 6.5830733 0 2.4868201.96817012 4.8248659 2.72674561 6.5830732 1.65710449 1.6571172 3.82919306 2.6127061 6.1553955 2.7168481.0980377 2.3063836 1.04675293 4.4857368 2.71987919 6.1588758 1.7585754 1.7585888 4.0966033 2.7267664 6.5834045 2.7267664s4.8244477-.9681776 6.5830231-2.7267664c3.2775878-3.2776129 3.5957336-8.4110902.9544373-12.0488133l9.5005035-9.500576c1.5792846 1.1509029 3.4751892 1.7715589 5.4664611 1.7715589 2.4868012 0 4.8248291-.9681775 6.5830231-2.7267664 1.7585754-1.7582073 2.7271271-4.0962531 2.7271271-6.5830733 0-2.4868201-.9685517-4.8248659-2.7271271-6.5830732z' fill='%23d9ecf2'/%3E%3C/svg%3E");
}

.menu-wrapper li button:hover,
.menu-wrapper li button:focus{
    filter: drop-shadow(0.5px 0px 2.5px #FF414D);
    transform: scale(1.02);
}

.menu-wrapper li a:hover,
.menu-wrapper li a:focus {
    filter: drop-shadow(0.5px 0px 2.5px #D9ECF3);
    transform: scale(1.02);
}

.dog-container .image-gallery {
    /* width: 100%;
    max-height: 400px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    overflow-x: auto;
    overflow-y: hidden;
    /* height: auto; */
}
/* .dog-container .image-gallery .image-cropper {
    width: 400px;
    height: 400px;
    overflow: hidden;
} */


.dog-container .image-gallery .image-cropper img {
    height: 300px;
    /* width: 100%;  */
    /* object-fit: contain; */
}

.dog-container .detail-content {
    background-repeat: no-repeat;
	background-position: left 150%;
    background-size: 80%;
    background-image: url("data:image/svg+xml,%3Csvg height='326' viewBox='0 0 368 326' width='368' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='m153.285999.76722928c-39.165203.10181367-78.2946223 15.09043642-108.1805246 44.96311662-29.8776442 29.8671768-44.87151998 68.9801351-44.97612201 108.1288661v.842026c.10460203 39.145979 15.09847781 78.258938 44.97612201 108.128866 57.3411836 57.315591 148.7220716 59.789388 209.0471656 7.501191 10.793278 5.24478 22.786727 8.464293 35.520649 9.141216 51.037534 2.715949 94.609787-36.446541 97.323935-87.463443.079827-1.494184.12387-2.982865.132128-4.463291v-1.029144c-.261505-48.620153-38.432989-89.1805165-87.628977-91.7946512-1.44516-.0770482-2.882062-.1100689-4.316211-.1210757-7.487303-17.7596056-18.431979-34.4047643-32.902845-48.8705602-29.883149-29.8726802-69.009816-44.86130295-108.177772-44.96311662z' fill='%23fff' fill-rule='evenodd'/%3E%3C/mask%3E%3Cpath d='m153.285999.76722928c-39.165203.10181367-78.2946223 15.09043642-108.1805246 44.96311662-29.8776442 29.8671768-44.87151998 68.9801351-44.97612201 108.1288661v.842026c.10460203 39.145979 15.09847781 78.258938 44.97612201 108.128866 57.3411836 57.315591 148.7220716 59.789388 209.0471656 7.501191 10.793278 5.24478 22.786727 8.464293 35.520649 9.141216 51.037534 2.715949 94.609787-36.446541 97.323935-87.463443.079827-1.494184.12387-2.982865.132128-4.463291v-1.029144c-.261505-48.620153-38.432989-89.1805165-87.628977-91.7946512-1.44516-.0770482-2.882062-.1100689-4.316211-.1210757-7.487303-17.7596056-18.431979-34.4047643-32.902845-48.8705602-29.883149-29.8726802-69.009816-44.86130295-108.177772-44.96311662z' fill='%23d9ecf2' fill-rule='evenodd' mask='url(%23a)' transform='matrix(.93969262 .34202014 -.34202014 .93969262 62.310427 -43.688915)'/%3E%3C/svg%3E"); 

}

.dog-container .detail-content .detail-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dog-container .detail-content .detail-intro p {
    display: flex;
    align-items: center;
}

.dog-container .detail-content .detail-intro p span { 
    margin-right: 10px;
    display: block;
    width: 13px;
    height: 13px;  
    background-repeat: no-repeat;
	background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 13 18' width='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.5 0c-3.5843099 0-6.5 2.91602865-6.5 6.5 0 4.7953073 5.99713021 10.4947917 6.25245833 10.7352917.06980729.0652369.15867448.0980416.24754167.0980416s.17773438-.0328047.24757552-.0980416c.25529427-.2405 6.25242448-5.9399844 6.25242448-10.7352917 0-3.58397135-2.9156901-6.5-6.5-6.5zm0 10.1111224c-1.9910651 0-3.6111224-1.6200573-3.6111224-3.6111224s1.62009115-3.6111224 3.6111224-3.6111224 3.6111224 1.62009115 3.6111224 3.6111224-1.6200573 3.6111224-3.6111224 3.6111224z' fill='%231aa6b7'/%3E%3C/svg%3E");
}

.dog-container .detail-content .detail-list {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 40px;
}

.dog-container .detail-content  .detail-list li:first-child {
    text-transform: uppercase;
}

.dog-container .detail-content .detail-list .bio {
    font-family: "Gotham-Bold";
    color: #FF414D;
}

.dog-container .button-wrapper-detail {
    display: flex;
    justify-content: center;
}

.dog-container .button-wrapper-detail button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
    border-style: none;
    background-repeat: no-repeat;
	background-position: center center;
    background-size: 50%, contain;
}

.dog-container .button-wrapper-detail button:first-child {
    background-image: url("data:image/svg+xml,%3Csvg height='48' viewBox='0 0 56 48' width='56' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff'%3E%3Cpath d='m22.6733443 31.1463071 5.4687453-5.3980955c.6487243-.6403435.6487243-1.6777 0-2.3180435l-5.0695636-5.0044978 4.3334778-10.69373616c.2093217-.51867825.1375296-1.10779425-.1915898-1.5624381-2.8042187-3.86255191-7.3483156-6.16949604-12.1570921-6.16949604-8.78069875 0-15.0573219 6.77184584-15.0573219 16.4679269 0 12.0901119 10.2169742 18.2207604 24.3241313 30.2899544.7676569.6569924 1.2771217 1.227752 2.2852392.9220946.5514155-.1728927.9713564-.6130221 1.1110484-1.1671327l1.876543-7.4070666c.1427192-.5583795-.0246517-1.1492031-.4363753-1.5560346z'/%3E%3Cpath d='m41.2522168 0c-2.8448447 0-5.605818.82829747-7.9834407 2.39652919-.2812651.18530528-.4972971.45382631-.6226803.76910268l-5.3533573 13.54873283c-.2414474.6112501-.0999677 1.3095764.3604769 1.7758422l6.1395443 6.2171638-5.3563225 5.4240399c-.6353881.6434211-.6353881 1.6857634 0 2.3291845l4.8573309 4.9191689-1.6456554 6.6722768c-.1728255.6966106.1224181 1.4266791.7277312 1.803295.9047928.5606342 1.5744919.13855 2.2763841-.4778474 4.7175454-4.1324794 8.4443088-7.3963402 11.7385848-10.5877089 4.9179045-4.7660347 9.6091872-10.2754351 9.6091872-18.2427043 0-9.74268245-6.1475924-16.5470752-14.7477832-16.5470752z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(160deg, #D9ECF3, #1AA6B7);
}
.dog-container .button-wrapper-detail button:last-child {
    background-image: url("data:image/svg+xml,%3Csvg height='52' viewBox='0 0 56 52' width='56' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m41.4167031 0c-6.211625 0-11.3419687 5.84445193-13.4167031 8.60281164-2.0747344-2.75835971-7.2050781-8.60281164-13.4167031-8.60281164-8.04125002 0-14.5832969 7.48909732-14.5832969 16.693195 0 5.0215753 1.96765625 9.7015686 5.41176563 12.9042175.05009374.0877499.11167187.1685197.18342187.2412014l21.5811094 21.8162587c.2278281.2296787.5252187.3451274.8237031.3451274s.5969688-.1154487.8249062-.3462353l22.2988282-22.5803032.230125-.226244c.1823281-.174281.3623593-.3508887.5639375-.5770219.0843281-.0842044.1537812-.1789344.207375-.2816416 2.5008593-3.1022683 3.8748281-7.1036405 3.8748281-11.295359 0-9.20409768-6.5419375-16.693195-14.5832969-16.693195z' fill='%23fff'/%3E%3C/svg%3E"),linear-gradient(160deg, #F56A79, #FF414D);
}

.dog-container .view-more {
    display: block;
    transition: all .2s ease;
}

.dog-container .view-more:hover .image-wrapper {
    filter: drop-shadow(2px 0px 2px #D9ECF3);
    transform: scale(1.01);
}
