<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <% include ../components/devtools %>
    <header>
        <nav>
            <ul class="menu-wrapper">
                <li>
                    <a href="/profile">
                        <span class="paw"></span>
                    </a>
                </li>
                <li class="close-detail">
                    <a href="/">
                        <span class="close"></span>
                    </a>
                </li>
                <li>
                    <a href="/matches">
                        <span class="bone"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="dog-container">
            <a href="/detail" class="view-more">
                <div class="image-gallery">
                    <div class="image-cropper">
                        <img src="../assets/bobby.jpg" alt="bobby">
                    </div>
                    <div class="image-cropper">
                        <img src="../assets/bobby2.jpg" alt="bobby">
                    </div>
                    <div class="image-cropper">
                        <img src="../assets/bobby3.jpg" alt="bobby">
                    </div>
                </div>
                <div class="detail-content">
                    <div class="detail-intro">
                        <h1>Bobby</h1>
                        <p>
                            <span class="pin"></span>
                            Amsterdam
                        </p>
                    </div>
                    <ul class="detail-list">
                        <li>3 Years old</li>
                        <li>Curious, Energetic, Always hungry</li>
                        <li class="bio">"Love the beach!"</li>
                        <li>
                            <span class="instagram"></span>
                            @thelegendarybobby
                        </li>
                    </ul>
                    </div>
                </div>
            </a>
                <div class="button-wrapper-detail">
                    <button type="button" aria-label="No"></button>
                    <button type="button" aria-label="Yes"></button>
                </div>
        </section>
    </main>
</body>
</html>