<aside class="dev-tools">
    <div class="dev-tools-item break-xs">Extra Small</div>
    <div class="dev-tools-item break-sm">Small</div>
    <div class="dev-tools-item break-md">Medium</div>
    <div class="dev-tools-item break-lg">Large</div>
    <div class="dev-tools-item break-xl">Extra Large</div>
</aside>